<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <!-- Arguments -->
    <arg name="path" default="/home/agv/agv_ws/src/agv_bag/bags/"/>
	<arg name="file" default="agv_cartographer.bag" />
	<arg name="rosbag_rate" default="1" />
	<arg name="topic_filter" default=""/>

	<!-- Playback rosbag -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="-r $(arg rosbag_rate) --clock $(arg path)$(arg file) $(arg topic_filter)"/>
</launch>
